.hide {
  display: none;
}

.correct {
  background-color: rgb(1, 149, 43);
}

.wrong {
  background-color: rgb(196, 2, 2);
}

div h1 {
  font-weight: bold;
}

#question {
  font-size: 1.7rem;
  font-weight: 500;
}

.nota {
  font-weight: 300;
  font-size: 1.5rem;
}


